# EmailJS configuration for the Contact form
# Sign up at https://www.emailjs.com/ to get these values.
# Create a .env file (in the project root) with your real values.
VITE_EMAILJS_SERVICE_ID=service_lwjblw4
VITE_EMAILJS_TEMPLATE_ID=template_qsnljdo
VITE_EMAILJS_PUBLIC_KEY=7i7pFJeEBZlDTEmVv
